{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "title": "StreamAnalyticsManagementClient",
        "version": "2016-03-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2016-03-01/outputs.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "streamanalytics-outputs",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs": {
            "get": {
                "description": "Lists all of the outputs under the specified streaming job.",
                "operationId": "Outputs_ListByStreamingJob",
                "parameters": [
                    {
                        "description": "The $select OData query parameter. This is a comma-separated list of structural properties to include in the response, or \"*\" to include all properties. By default, all properties are returned except diagnostics. Currently only accepts '*' as a valid value.",
                        "in": "query",
                        "name": "$select",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the streaming job.",
                        "in": "path",
                        "name": "jobName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully listed the outputs under the specified streaming job.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Object containing a list of outputs under a streaming job.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The link (url) to the next page of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "A list of outputs under a streaming job. Populated by a 'List' operation.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "The base sub-resource model definition.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Resource Id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name",
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "Resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "An output object, containing all information associated with the named output. All outputs are contained under a streaming job.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The properties that are associated with an output. Required on PUT (CreateOrReplace) requests.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "datasource": {
                                                                "description": "Describes the data source that output will be written to. Required on PUT (CreateOrReplace) requests.",
                                                                "discriminator": {
                                                                    "propertyName": "type"
                                                                },
                                                                "properties": {
                                                                    "type": {
                                                                        "description": "Indicates the type of data source output will be written to. Required on PUT (CreateOrReplace) requests.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "diagnostics": {
                                                                "description": "Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention.",
                                                                "properties": {
                                                                    "conditions": {
                                                                        "description": "A collection of zero or more conditions applicable to the resource, or to the job overall, that warrant customer attention.",
                                                                        "items": {
                                                                            "description": "Condition applicable to the resource, or to the job overall, that warrant customer attention.",
                                                                            "properties": {
                                                                                "code": {
                                                                                    "description": "The opaque diagnostic code.",
                                                                                    "readOnly": true,
                                                                                    "type": "string"
                                                                                },
                                                                                "message": {
                                                                                    "description": "The human-readable message describing the condition in detail. Localized in the Accept-Language of the client request.",
                                                                                    "readOnly": true,
                                                                                    "type": "string"
                                                                                },
                                                                                "since": {
                                                                                    "description": "The UTC timestamp of when the condition started. Customers should be able to find a corresponding event in the ops log around this time.",
                                                                                    "readOnly": true,
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "readOnly": true,
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "etag": {
                                                                "description": "The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "serialization": {
                                                                "description": "Describes how data from an input is serialized or how data is serialized when written to an output.",
                                                                "discriminator": {
                                                                    "propertyName": "type"
                                                                },
                                                                "properties": {
                                                                    "type": {
                                                                        "description": "Indicates the type of serialization that the input or output uses. Required on PUT (CreateOrReplace) requests.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Outputs"
                ],
                "x-ms-examples": {
                    "List all outputs in a streaming job": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj6458",
                            "resourceGroupName": "sjrg2157",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output1755",
                                            "name": "output1755",
                                            "properties": {
                                                "datasource": {
                                                    "properties": {
                                                        "database": "someDatabase",
                                                        "server": "someServer",
                                                        "table": "differentTable",
                                                        "user": "someUser"
                                                    },
                                                    "type": "Microsoft.Sql/Server/Database"
                                                },
                                                "etag": "f489d6f3-fcd5-4bcb-b642-81e987ee16d6"
                                            },
                                            "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                        },
                                        {
                                            "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output958",
                                            "name": "output958",
                                            "properties": {
                                                "datasource": {
                                                    "properties": {
                                                        "accountName": "someAccountName",
                                                        "batchSize": 25,
                                                        "columnsToRemove": [
                                                            "column1",
                                                            "column2"
                                                        ],
                                                        "partitionKey": "differentPartitionKey",
                                                        "rowKey": "rowKey",
                                                        "table": "samples"
                                                    },
                                                    "type": "Microsoft.Storage/Table"
                                                },
                                                "etag": "ea1d20bf-6cb3-40bc-bc7b-ec3a7fd5977e"
                                            },
                                            "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                        },
                                        {
                                            "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output1623",
                                            "name": "output1623",
                                            "properties": {
                                                "datasource": {
                                                    "properties": {
                                                        "container": "differentContainer",
                                                        "dateFormat": "yyyy/MM/dd",
                                                        "pathPattern": "{date}/{time}",
                                                        "storageAccounts": [
                                                            {
                                                                "accountName": "someAccountName"
                                                            }
                                                        ],
                                                        "timeFormat": "HH"
                                                    },
                                                    "type": "Microsoft.Storage/Blob"
                                                },
                                                "etag": "3a1b2023-79a9-4b33-93e8-f49fc3e573fe",
                                                "serialization": {
                                                    "properties": {
                                                        "encoding": "UTF8",
                                                        "fieldDelimiter": "|"
                                                    },
                                                    "type": "Csv"
                                                }
                                            },
                                            "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                        },
                                        {
                                            "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output3022",
                                            "name": "output3022",
                                            "properties": {
                                                "datasource": {
                                                    "properties": {
                                                        "accountId": "someAccountId",
                                                        "collectionNamePattern": "collection",
                                                        "database": "db01",
                                                        "documentId": "documentId",
                                                        "partitionKey": "differentPartitionKey"
                                                    },
                                                    "type": "Microsoft.Storage/DocumentDB"
                                                },
                                                "etag": "7849c132-e995-4631-91c3-931606eec432"
                                            },
                                            "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                        },
                                        {
                                            "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output5195",
                                            "name": "output5195",
                                            "properties": {
                                                "datasource": {
                                                    "properties": {
                                                        "eventHubName": "sdkeventhub",
                                                        "partitionKey": "differentPartitionKey",
                                                        "serviceBusNamespace": "sdktest",
                                                        "sharedAccessPolicyName": "RootManageSharedAccessKey"
                                                    },
                                                    "type": "Microsoft.ServiceBus/EventHub"
                                                },
                                                "etag": "5020de6b-5bb3-4b88-8606-f11fb3c46185",
                                                "serialization": {
                                                    "properties": {
                                                        "encoding": "UTF8",
                                                        "format": "LineSeparated"
                                                    },
                                                    "type": "Json"
                                                }
                                            },
                                            "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                        },
                                        {
                                            "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output3456",
                                            "name": "output3456",
                                            "properties": {
                                                "datasource": {
                                                    "properties": {
                                                        "propertyColumns": [
                                                            "column1",
                                                            "column2"
                                                        ],
                                                        "queueName": "differentQueueName",
                                                        "serviceBusNamespace": "sdktest",
                                                        "sharedAccessPolicyName": "RootManageSharedAccessKey"
                                                    },
                                                    "type": "Microsoft.ServiceBus/Queue"
                                                },
                                                "etag": "429adaec-a777-4750-8a39-8d0c931d801c",
                                                "serialization": {
                                                    "properties": {
                                                        "encoding": "UTF8",
                                                        "format": "LineSeparated"
                                                    },
                                                    "type": "Json"
                                                }
                                            },
                                            "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                        },
                                        {
                                            "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output7886",
                                            "name": "output7886",
                                            "properties": {
                                                "datasource": {
                                                    "properties": {
                                                        "propertyColumns": [
                                                            "column1",
                                                            "column2"
                                                        ],
                                                        "serviceBusNamespace": "sdktest",
                                                        "sharedAccessPolicyName": "RootManageSharedAccessKey",
                                                        "topicName": "differentTopicName"
                                                    },
                                                    "type": "Microsoft.ServiceBus/Topic"
                                                },
                                                "etag": "c1c2007f-45b2-419a-ae7d-4d2148998460",
                                                "serialization": {
                                                    "properties": {
                                                        "encoding": "UTF8",
                                                        "fieldDelimiter": "|"
                                                    },
                                                    "type": "Csv"
                                                }
                                            },
                                            "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                        },
                                        {
                                            "etag": "4a492191-9672-4178-be10-043b9dbd4b9f",
                                            "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output3021",
                                            "name": "output3021",
                                            "properties": {
                                                "datasource": {
                                                    "properties": {
                                                        "dataset": "differentDataset",
                                                        "groupId": "ac40305e-3e8d-43ac-8161-c33799f43e95",
                                                        "groupName": "MyPowerBIGroup",
                                                        "table": "someTable",
                                                        "tokenUserDisplayName": "Bob Smith",
                                                        "tokenUserPrincipalName": "bobsmith@contoso.com"
                                                    },
                                                    "type": "PowerBI"
                                                }
                                            },
                                            "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                        },
                                        {
                                            "etag": "39ab7642-8c1e-48ed-85eb-949068d68002",
                                            "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output5196",
                                            "name": "output5196",
                                            "properties": {
                                                "datasource": {
                                                    "properties": {
                                                        "accountName": "differentaccount",
                                                        "dateFormat": "yyyy/MM/dd",
                                                        "filePathPrefix": "{date}/{time}",
                                                        "tenantId": "cea4e98b-c798-49e7-8c40-4a2b3beb47dd",
                                                        "timeFormat": "HH",
                                                        "tokenUserDisplayName": "Bob Smith",
                                                        "tokenUserPrincipalName": "bobsmith@contoso.com"
                                                    },
                                                    "type": "Microsoft.DataLake/Accounts"
                                                },
                                                "serialization": {
                                                    "properties": {
                                                        "encoding": "UTF8",
                                                        "format": "LineSeparated"
                                                    },
                                                    "type": "Json"
                                                }
                                            },
                                            "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs/{outputName}": {
            "delete": {
                "description": "Deletes an output from the streaming job.",
                "operationId": "Outputs_Delete",
                "parameters": [
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the streaming job.",
                        "in": "path",
                        "name": "jobName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the output.",
                        "in": "path",
                        "name": "outputName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The output was successfully deleted."
                    },
                    "204": {
                        "description": "The output does not exist."
                    }
                },
                "tags": [
                    "Outputs"
                ],
                "x-ms-examples": {
                    "Delete an output": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj6458",
                            "outputName": "output1755",
                            "resourceGroupName": "sjrg2157",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {},
                            "204": {}
                        }
                    }
                }
            },
            "get": {
                "description": "Gets details about the specified output.",
                "operationId": "Outputs_Get",
                "parameters": [
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the streaming job.",
                        "in": "path",
                        "name": "jobName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the output.",
                        "in": "path",
                        "name": "outputName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the specified output.",
                        "headers": {
                            "ETag": {
                                "description": "The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "The base sub-resource model definition.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource Id",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name",
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Resource type",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An output object, containing all information associated with the named output. All outputs are contained under a streaming job.",
                                    "properties": {
                                        "properties": {
                                            "description": "The properties that are associated with an output. Required on PUT (CreateOrReplace) requests.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "datasource": {
                                                    "description": "Describes the data source that output will be written to. Required on PUT (CreateOrReplace) requests.",
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "type": {
                                                            "description": "Indicates the type of data source output will be written to. Required on PUT (CreateOrReplace) requests.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "diagnostics": {
                                                    "description": "Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention.",
                                                    "properties": {
                                                        "conditions": {
                                                            "description": "A collection of zero or more conditions applicable to the resource, or to the job overall, that warrant customer attention.",
                                                            "items": {
                                                                "description": "Condition applicable to the resource, or to the job overall, that warrant customer attention.",
                                                                "properties": {
                                                                    "code": {
                                                                        "description": "The opaque diagnostic code.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "message": {
                                                                        "description": "The human-readable message describing the condition in detail. Localized in the Accept-Language of the client request.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "since": {
                                                                        "description": "The UTC timestamp of when the condition started. Customers should be able to find a corresponding event in the ops log around this time.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "readOnly": true,
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "etag": {
                                                    "description": "The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "serialization": {
                                                    "description": "Describes how data from an input is serialized or how data is serialized when written to an output.",
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "type": {
                                                            "description": "Indicates the type of serialization that the input or output uses. Required on PUT (CreateOrReplace) requests.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Outputs"
                ],
                "x-ms-examples": {
                    "Get a DocumentDB output": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj2331",
                            "outputName": "output3022",
                            "resourceGroupName": "sjrg7983",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7983/providers/Microsoft.StreamAnalytics/streamingjobs/sj2331/outputs/output3022",
                                    "name": "output3022",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "accountId": "someAccountId",
                                                "collectionNamePattern": "collection",
                                                "database": "db01",
                                                "documentId": "documentId",
                                                "partitionKey": "key"
                                            },
                                            "type": "Microsoft.Storage/DocumentDB"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "ccf8b864-259e-43c5-a628-ba10858b2c07"
                                }
                            }
                        }
                    },
                    "Get a Power BI output": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj2331",
                            "outputName": "output3022",
                            "resourceGroupName": "sjrg7983",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7983/providers/Microsoft.StreamAnalytics/streamingjobs/sj2331/outputs/output3022",
                                    "name": "output3022",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "dataset": "someDataset",
                                                "groupId": "ac40305e-3e8d-43ac-8161-c33799f43e95",
                                                "groupName": "MyPowerBIGroup",
                                                "table": "someTable",
                                                "tokenUserDisplayName": "Bob Smith",
                                                "tokenUserPrincipalName": "bobsmith@contoso.com"
                                            },
                                            "type": "PowerBI"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "ccf8b864-259e-43c5-a628-ba10858b2c07"
                                }
                            }
                        }
                    },
                    "Get a Service Bus Queue output with Avro serialization": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj5095",
                            "outputName": "output3456",
                            "resourceGroupName": "sjrg3410",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3410/providers/Microsoft.StreamAnalytics/streamingjobs/sj5095/outputs/output3456",
                                    "name": "output3456",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "propertyColumns": [
                                                    "column1",
                                                    "column2"
                                                ],
                                                "queueName": "sdkqueue",
                                                "serviceBusNamespace": "sdktest",
                                                "sharedAccessPolicyName": "RootManageSharedAccessKey"
                                            },
                                            "type": "Microsoft.ServiceBus/Queue"
                                        },
                                        "serialization": {
                                            "properties": {},
                                            "type": "Avro"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "2f68c1ec-2080-43cb-93ec-4bcd3b7f9dbe"
                                }
                            }
                        }
                    },
                    "Get a Service Bus Topic output with CSV serialization": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj7094",
                            "outputName": "output7886",
                            "resourceGroupName": "sjrg6450",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6450/providers/Microsoft.StreamAnalytics/streamingjobs/sj7094/outputs/output7886",
                                    "name": "output7886",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "propertyColumns": [
                                                    "column1",
                                                    "column2"
                                                ],
                                                "serviceBusNamespace": "sdktest",
                                                "sharedAccessPolicyName": "RootManageSharedAccessKey",
                                                "topicName": "sdktopic"
                                            },
                                            "type": "Microsoft.ServiceBus/Topic"
                                        },
                                        "serialization": {
                                            "properties": {
                                                "encoding": "UTF8",
                                                "fieldDelimiter": ","
                                            },
                                            "type": "Csv"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "39259839-e581-4af4-bf68-302e6820e3a0"
                                }
                            }
                        }
                    },
                    "Get a blob output with CSV serialization": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj900",
                            "outputName": "output1623",
                            "resourceGroupName": "sjrg5023",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg5023/providers/Microsoft.StreamAnalytics/streamingjobs/sj900/outputs/output1623",
                                    "name": "output1623",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "container": "state",
                                                "dateFormat": "yyyy/MM/dd",
                                                "pathPattern": "{date}/{time}",
                                                "storageAccounts": [
                                                    {
                                                        "accountName": "someAccountName"
                                                    }
                                                ],
                                                "timeFormat": "HH"
                                            },
                                            "type": "Microsoft.Storage/Blob"
                                        },
                                        "serialization": {
                                            "properties": {
                                                "encoding": "UTF8",
                                                "fieldDelimiter": ","
                                            },
                                            "type": "Csv"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "5433fd97-d133-46e3-8588-5fe1f1599ee0"
                                }
                            }
                        }
                    },
                    "Get an Azure Data Lake Store output with JSON serialization": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj3310",
                            "outputName": "output5195",
                            "resourceGroupName": "sjrg6912",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6912/providers/Microsoft.StreamAnalytics/streamingjobs/sj3310/outputs/output5195",
                                    "name": "output5195",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "accountName": "someaccount",
                                                "dateFormat": "yyyy/MM/dd",
                                                "filePathPrefix": "{date}/{time}",
                                                "tenantId": "cea4e98b-c798-49e7-8c40-4a2b3beb47dd",
                                                "timeFormat": "HH",
                                                "tokenUserDisplayName": "Bob Smith",
                                                "tokenUserPrincipalName": "bobsmith@contoso.com"
                                            },
                                            "type": "Microsoft.DataLake/Accounts"
                                        },
                                        "serialization": {
                                            "properties": {
                                                "encoding": "UTF8",
                                                "format": "Array"
                                            },
                                            "type": "Json"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "5472168f-7317-4241-8b75-0c8d9d0ea804"
                                }
                            }
                        }
                    },
                    "Get an Azure SQL database output": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj6458",
                            "outputName": "output1755",
                            "resourceGroupName": "sjrg2157",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output1755",
                                    "name": "output1755",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "database": "someDatabase",
                                                "server": "someServer",
                                                "table": "someTable",
                                                "user": "someUser"
                                            },
                                            "type": "Microsoft.Sql/Server/Database"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "731a47c6-ff67-4439-bde6-a2a3da4c1ecf"
                                }
                            }
                        }
                    },
                    "Get an Azure Table output": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj2790",
                            "outputName": "output958",
                            "resourceGroupName": "sjrg5176",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg5176/providers/Microsoft.StreamAnalytics/streamingjobs/sj2790/outputs/output958",
                                    "name": "output958",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "accountName": "someAccountName",
                                                "batchSize": 25,
                                                "columnsToRemove": [
                                                    "column1",
                                                    "column2"
                                                ],
                                                "partitionKey": "partitionKey",
                                                "rowKey": "rowKey",
                                                "table": "samples"
                                            },
                                            "type": "Microsoft.Storage/Table"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "2409b6d1-c99c-405b-9a14-ea7833637038"
                                }
                            }
                        }
                    },
                    "Get an Event Hub output with JSON serialization": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj3310",
                            "outputName": "output5195",
                            "resourceGroupName": "sjrg6912",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6912/providers/Microsoft.StreamAnalytics/streamingjobs/sj3310/outputs/output5195",
                                    "name": "output5195",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "eventHubName": "sdkeventhub",
                                                "partitionKey": "partitionKey",
                                                "serviceBusNamespace": "sdktest",
                                                "sharedAccessPolicyName": "RootManageSharedAccessKey"
                                            },
                                            "type": "Microsoft.ServiceBus/EventHub"
                                        },
                                        "serialization": {
                                            "properties": {
                                                "encoding": "UTF8",
                                                "format": "Array"
                                            },
                                            "type": "Json"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "5472168f-7317-4241-8b75-0c8d9d0ea804"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates an existing output under an existing streaming job. This can be used to partially update (ie. update one or two properties) an output without affecting the rest the job or output definition.",
                "operationId": "Outputs_Update",
                "parameters": [
                    {
                        "description": "The ETag of the output. Omit this value to always overwrite the current output. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
                        "in": "header",
                        "name": "If-Match",
                        "required": false,
                        "x-ms-client-name": "IfMatch",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the streaming job.",
                        "in": "path",
                        "name": "jobName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the output.",
                        "in": "path",
                        "name": "outputName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The output was successfully updated.",
                        "headers": {
                            "ETag": {
                                "description": "The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "The base sub-resource model definition.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource Id",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name",
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Resource type",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An output object, containing all information associated with the named output. All outputs are contained under a streaming job.",
                                    "properties": {
                                        "properties": {
                                            "description": "The properties that are associated with an output. Required on PUT (CreateOrReplace) requests.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "datasource": {
                                                    "description": "Describes the data source that output will be written to. Required on PUT (CreateOrReplace) requests.",
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "type": {
                                                            "description": "Indicates the type of data source output will be written to. Required on PUT (CreateOrReplace) requests.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "diagnostics": {
                                                    "description": "Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention.",
                                                    "properties": {
                                                        "conditions": {
                                                            "description": "A collection of zero or more conditions applicable to the resource, or to the job overall, that warrant customer attention.",
                                                            "items": {
                                                                "description": "Condition applicable to the resource, or to the job overall, that warrant customer attention.",
                                                                "properties": {
                                                                    "code": {
                                                                        "description": "The opaque diagnostic code.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "message": {
                                                                        "description": "The human-readable message describing the condition in detail. Localized in the Accept-Language of the client request.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "since": {
                                                                        "description": "The UTC timestamp of when the condition started. Customers should be able to find a corresponding event in the ops log around this time.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "readOnly": true,
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "etag": {
                                                    "description": "The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "serialization": {
                                                    "description": "Describes how data from an input is serialized or how data is serialized when written to an output.",
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "type": {
                                                            "description": "Indicates the type of serialization that the input or output uses. Required on PUT (CreateOrReplace) requests.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Outputs"
                ],
                "x-ms-examples": {
                    "Update a DocumentDB output": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj2331",
                            "output": {
                                "properties": {
                                    "datasource": {
                                        "properties": {
                                            "partitionKey": "differentPartitionKey"
                                        },
                                        "type": "Microsoft.Storage/DocumentDB"
                                    }
                                }
                            },
                            "outputName": "output3022",
                            "resourceGroupName": "sjrg7983",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7983/providers/Microsoft.StreamAnalytics/streamingjobs/sj2331/outputs/output3022",
                                    "name": "output3022",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "accountId": "someAccountId",
                                                "collectionNamePattern": "collection",
                                                "database": "db01",
                                                "documentId": "documentId",
                                                "partitionKey": "differentPartitionKey"
                                            },
                                            "type": "Microsoft.Storage/DocumentDB"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "7849c132-e995-4631-91c3-931606eec432"
                                }
                            }
                        }
                    },
                    "Update a Power BI output": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj2331",
                            "output": {
                                "properties": {
                                    "datasource": {
                                        "properties": {
                                            "dataset": "differentDataset"
                                        },
                                        "type": "PowerBI"
                                    }
                                }
                            },
                            "outputName": "output3022",
                            "resourceGroupName": "sjrg7983",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7983/providers/Microsoft.StreamAnalytics/streamingjobs/sj2331/outputs/output3022",
                                    "name": "output3022",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "dataset": "differentDataset",
                                                "groupId": "ac40305e-3e8d-43ac-8161-c33799f43e95",
                                                "groupName": "MyPowerBIGroup",
                                                "table": "someTable",
                                                "tokenUserDisplayName": "Bob Smith",
                                                "tokenUserPrincipalName": "bobsmith@contoso.com"
                                            },
                                            "type": "PowerBI"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "7849c132-e995-4631-91c3-931606eec432"
                                }
                            }
                        }
                    },
                    "Update a Service Bus Queue output with Avro serialization": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj5095",
                            "output": {
                                "properties": {
                                    "datasource": {
                                        "properties": {
                                            "queueName": "differentQueueName"
                                        },
                                        "type": "Microsoft.ServiceBus/Queue"
                                    },
                                    "serialization": {
                                        "properties": {
                                            "encoding": "UTF8",
                                            "format": "LineSeparated"
                                        },
                                        "type": "Json"
                                    }
                                }
                            },
                            "outputName": "output3456",
                            "resourceGroupName": "sjrg3410",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3410/providers/Microsoft.StreamAnalytics/streamingjobs/sj5095/outputs/output3456",
                                    "name": "output3456",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "propertyColumns": [
                                                    "column1",
                                                    "column2"
                                                ],
                                                "queueName": "differentQueueName",
                                                "serviceBusNamespace": "sdktest",
                                                "sharedAccessPolicyName": "RootManageSharedAccessKey"
                                            },
                                            "type": "Microsoft.ServiceBus/Queue"
                                        },
                                        "serialization": {
                                            "properties": {
                                                "encoding": "UTF8",
                                                "format": "LineSeparated"
                                            },
                                            "type": "Json"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "429adaec-a777-4750-8a39-8d0c931d801c"
                                }
                            }
                        }
                    },
                    "Update a Service Bus Topic output with CSV serialization": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj7094",
                            "output": {
                                "properties": {
                                    "datasource": {
                                        "properties": {
                                            "topicName": "differentTopicName"
                                        },
                                        "type": "Microsoft.ServiceBus/Topic"
                                    },
                                    "serialization": {
                                        "properties": {
                                            "encoding": "UTF8",
                                            "fieldDelimiter": "|"
                                        },
                                        "type": "Csv"
                                    }
                                }
                            },
                            "outputName": "output7886",
                            "resourceGroupName": "sjrg6450",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6450/providers/Microsoft.StreamAnalytics/streamingjobs/sj7094/outputs/output7886",
                                    "name": "output7886",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "propertyColumns": [
                                                    "column1",
                                                    "column2"
                                                ],
                                                "serviceBusNamespace": "sdktest",
                                                "sharedAccessPolicyName": "RootManageSharedAccessKey",
                                                "topicName": "differentTopicName"
                                            },
                                            "type": "Microsoft.ServiceBus/Topic"
                                        },
                                        "serialization": {
                                            "properties": {
                                                "encoding": "UTF8",
                                                "fieldDelimiter": "|"
                                            },
                                            "type": "Csv"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "c1c2007f-45b2-419a-ae7d-4d2148998460"
                                }
                            }
                        }
                    },
                    "Update a blob output with CSV serialization": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj900",
                            "output": {
                                "properties": {
                                    "datasource": {
                                        "properties": {
                                            "container": "differentContainer"
                                        },
                                        "type": "Microsoft.Storage/Blob"
                                    },
                                    "serialization": {
                                        "properties": {
                                            "encoding": "UTF8",
                                            "fieldDelimiter": "|"
                                        },
                                        "type": "Csv"
                                    }
                                }
                            },
                            "outputName": "output1623",
                            "resourceGroupName": "sjrg5023",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg5023/providers/Microsoft.StreamAnalytics/streamingjobs/sj900/outputs/output1623",
                                    "name": "output1623",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "container": "differentContainer",
                                                "dateFormat": "yyyy/MM/dd",
                                                "pathPattern": "{date}/{time}",
                                                "storageAccounts": [
                                                    {
                                                        "accountName": "someAccountName"
                                                    }
                                                ],
                                                "timeFormat": "HH"
                                            },
                                            "type": "Microsoft.Storage/Blob"
                                        },
                                        "serialization": {
                                            "properties": {
                                                "encoding": "UTF8",
                                                "fieldDelimiter": "|"
                                            },
                                            "type": "Csv"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "3a1b2023-79a9-4b33-93e8-f49fc3e573fe"
                                }
                            }
                        }
                    },
                    "Update an Azure Data Lake Store output with JSON serialization": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj3310",
                            "output": {
                                "properties": {
                                    "datasource": {
                                        "properties": {
                                            "accountName": "differentaccount"
                                        },
                                        "type": "Microsoft.DataLake/Accounts"
                                    },
                                    "serialization": {
                                        "properties": {
                                            "encoding": "UTF8",
                                            "format": "LineSeparated"
                                        },
                                        "type": "Json"
                                    }
                                }
                            },
                            "outputName": "output5195",
                            "resourceGroupName": "sjrg6912",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6912/providers/Microsoft.StreamAnalytics/streamingjobs/sj3310/outputs/output5195",
                                    "name": "output5195",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "accountName": "differentaccount",
                                                "dateFormat": "yyyy/MM/dd",
                                                "filePathPrefix": "{date}/{time}",
                                                "tenantId": "cea4e98b-c798-49e7-8c40-4a2b3beb47dd",
                                                "timeFormat": "HH",
                                                "tokenUserDisplayName": "Bob Smith",
                                                "tokenUserPrincipalName": "bobsmith@contoso.com"
                                            },
                                            "type": "Microsoft.DataLake/Accounts"
                                        },
                                        "serialization": {
                                            "properties": {
                                                "encoding": "UTF8",
                                                "format": "LineSeparated"
                                            },
                                            "type": "Json"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "5020de6b-5bb3-4b88-8606-f11fb3c46185"
                                }
                            }
                        }
                    },
                    "Update an Azure SQL database output": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj6458",
                            "output": {
                                "properties": {
                                    "datasource": {
                                        "properties": {
                                            "table": "differentTable"
                                        },
                                        "type": "Microsoft.Sql/Server/Database"
                                    }
                                }
                            },
                            "outputName": "output1755",
                            "resourceGroupName": "sjrg2157",
                            "subscriptionId": "56b5e0a9-b645-407d-99b0-c64f86013e3d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output1755",
                                    "name": "output1755",
                                    "properties": {
                                        "datasource": {
                                            "properties": {
                                                "database": "someDatabase",
                                                "server": "someServer",
                                                "table": "differentTable",
                                                "user": "someUser"
                                            },
                                            "type": "Microsoft.Sql/Server/Database"
                                        }
                                    },
                                    "type": "Microsoft.StreamAnalytics/streamingjobs/outputs"
                                },
                                "headers": {
                                    "ETag": "f489d6f3-fcd5-4bcb-b642-81e987ee16d6"
                                }
                            }
                        }
                    },
                    "Update an Azure Table output": {
                        "parameters": {
                            "api-version": "2016-03-01",
                            "jobName": "sj2790",
                            "output": {
                                "properties": {
                                    "datasource": {
                                        "properties": {
                                            "partitionKey": "differentPartitionKey"
[...]
